/* .main {
  width: 10vw;
} */

.wrapper {
  width: 100% !important;
  height: 100vh !important;
  display: flex !important;
}
.wrapper_left {
  position: absolute;
  width: 10% !important;
  color: grey !important;
  text-align: center !important;
  border: 1px solid #fbfbfb;
  top: -10px;
}

.wrapper_tab > p {
  text-align: center;
  margin: 0px;
}

.wrapper_tabs {
  max-height: 50vh;
  width: 10vw;
}

.wrapper_right {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: rgb(236, 236, 236);
}
.wrapper_button {
  margin-left: 990px !important;
  color: white !important;
  background-color: #1e3444 !important;
  width: 13.5%;
}

.wrapper_right_top {
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 10px;
}

.wrapper_topicon {
  border-bottom: 1px solid rgb(236, 236, 236);
  padding-top: 7px;
  padding-bottom: 8px;
}
.circle_icon {
  margin-left: 30px;
}
.logo {
  font-family: "Grenze Gotisch";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e3444;
  /* background: yellow; */
  width: 100%;
  text-align: center;
}

.Rtextstyle {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: orange;
}

.displayFlex01 {
  display: flex;
  width: 100%;
  /* background: rgb(230, 158, 158); */
  align-items: flex-end;
  bottom: 35px;
  position: absolute;
  z-index: -1;
}

.Flex01 {
  flex: 1;
}

.Flex02 {
  flex: 2;
  margin-bottom: 20px;
}

.FlexForLinks {
  display: flex;
  height: 50px;
}

.Flex01ForLinks {
  flex: 2;

  /* background: red; */
}

.Flex02ForLinks {
  flex: 1;
  /* background: green; */
}

.powericon {
  margin-right: -40px;
  margin-bottom: 20px;
}

.FlexForFlexforpaginationpa {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 20px;
}

.Flexforpagination01 {
  flex: 1;
  padding-left: 30px;
}
.Flexforpagination02 {
  /* background: red; */
  flex: 1;
  position: absolute;
  align-items: flex-end;
  right: 30px;
}
