.property {
  border-color: white;
  box-sizing: border-box;
}

.Property_head {
  /* align-items: center; */
  color: #302e35;
  /* background: red; */
  /* position: absolute; */
  width: 113px;
  /* height: 29px; */
  left: 100px;
  /* top: 88px; */
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  /* line-height: 10px; */
}
.Property_progress {
  display: flex;
  align-items: center;
  width: 30% !important;
  margin-left: 700px;
  margin-top: 50px;
  overflow: hidden;
}

.headtitle{
  font-size: 20px;
  font-style: normal;
  line-height: 29px;
  font-weight: 590;
  color: #302E35;
  position: absolute;
}

.Property_table {
  background-color: rgb(236, 236, 236);
  box-shadow: none;
  color: black;
  align-items: left;
  padding: 1px 5px 2px 4px;
}

form.Props_form input[type='text'] {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
.Props_form {
  display: flex;
  flex-direction: row;
}

.Property_search{
  margin-left: 120px  !important;
}

.Props_button {
  /* margin-top: 35px !important; */
  margin-left: 16px !important;
  margin-bottom: 40px !important;
  color: white !important;
  background-color: #1e3444 !important;
  width: 100px !important;
  height: 25px;
  vertical-align: middle;

  text-align: center;
  display: inline-block;
}

.displayFlex_pa {
  display: flex;
  width: 100%;
  height: 100px;
  margin-top: 50px;
  /* background: saddlebrown; */
}

.displayFlex_pa01 {
  display: flex;
  width: 100%;
  height: 40px;
}

.flex_ch_01 {
  flex: 1;
  margin-left: 1px;
  /* background: red */
}

.flex_ch_02 {
  flex: 1;
  margin-right: 20px;
  /* background: blue */
}

.Property_tabs{
  margin-left: -1px !important;
  
}