.Login-button {
  color: white;
  display: block;
  font-size: 16px;
  height: 60px;
  margin: 100px auto;
  width: 300px;
}

.Login{
  height: 50vh;
  width:fit-content;
  position: absolute;
  margin-left: 40%;
  margin-top: 5%;
  color: aqua;

}

.Login-title{
  height: 60px;
  margin: 100px auto;
  width: 300px;
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 750;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.Login-button:hover {
  opacity: 0.9;
}

.Login-mm {
  background-color: rgb(255, 125, 0);
}

.Email{
  margin-left: 30px;
}